.flex{
  display: flex;
}
.sidebar{
  width: 25%;
  background:linear-gradient(#4AD391 25%, #49C7D5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-content{
  width: 75%;  
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  justify-content: start;
 
  margin-top: 20px;
}
.main-content--wrapper{
  justify-content: start
}
a{
  display: block;
}

.portfolio-element{
  margin: 20px 0 0 20px;
	background: #C7C7C7;
	cursor: pointer;
	height: 240px;
	width: 200px;
	display: flex;
  flex-direction: column;
	justify-content: space-around;
	padding: 20px;
	padding-bottom: 10px;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	align-items: center;
	letter-spacing: 2px;
}

.portfolio-element__icon{
  border: none;
  background: none; 
  color: white; 
  cursor: pointer;
}
.portfolio-element__icon:focus{
  outline: none;
}

.about-page{
  margin: 40px;
  width: 70%;
}

.edit-page{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.social-menu .fa{
  font-size: 14px;
  height: 14px;
  width: 14px;
  background: white;
  margin:0 4px 20px 4px;  
  padding: 5px;
  border-radius: 100px;
  color: #49C7D0;
  text-align: center;
  text-decoration: none;
}

.sidebar img{
  margin-top: 30px;
}

.sidebar a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 15px 0;
}