.flex{
  display: flex;
}
.flex--column{
  flex-direction: column;
}
.sidebar{
  min-width: 300px;
  background:linear-gradient(#4AD391 25%, #49C7D5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-content{
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  justify-content: start;
  width : 90%;
  margin: 30px 0 0 30px;
}
.main-content--wrapper{
  justify-content: start
}
a{
  display: block;
  text-decoration: none;
}

.portfolio-element{
  margin: 20px 0 0 20px;
	background: #C7C7C7;
	cursor: pointer;
	height: 260px;
	width: 220px;
	display: flex;
  flex-direction: column;
	justify-content: space-around;
	padding-bottom: 10px;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	align-items: center;
	letter-spacing: 2px;
}
.portfolio-element__main-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-element__title{
color: white;
margin-bottom: 10px;
}

.portfolio-element__icon{
  border: none;
  background: none; 
  color: white; 
  cursor: pointer;
}
.portfolio-details__icon{
  border: none;
  background: none; 
  color: white; 
  position: absolute;
  bottom: 0;
}
.portfolio-element__icon:focus{
  outline: none;
}

.about-page{
  margin: 40px;
  width: 70%;
}

.edit-page{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.social-menu .fa{
  font-size: 14px;
  height: 14px;
  width: 14px;
  background: white;
  margin:0 4px 20px 4px;  
  padding: 5px;
  border-radius: 100px;
  color: #49C7D0;
  text-align: center;
  text-decoration: none;
}

.sidebar img{
  margin-top: 30px;
}

.sidebar a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 15px 0;
}

img{
  width: 80px;
}

.portfolio-details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 120px;

}
.portfolio-details--wrapper{
  width: 400px;
  display: flex;
  flex-flow: column;
  box-shadow: 0 0 10px rgba(0,0,0, 0.4);
  height: 500px;
  position: relative;
  align-items: center;
}

.portfolio-details__button{
      background: none; 
      border: none;
      position: absolute;
      top: -14px;
      font-size: 30px;
      right: -16px;
      cursor: pointer;      
}
.portfolio-details__button:focus{
  outline: none;
}
.portfolio-details__img{
  position: absolute;
  width: 400px;
  bottom: 0;
  height: 390px;
}
label{
  font-weight:500;
  margin:20px 0 5px 40px;
}
input,textarea{
  margin-left: 40px;
  min-width: 400px;
  min-height: 25px;
  border: 1px solid #ddd;
}
textarea{
  min-height: 200px;
}
input[type="submit"]{
  height: 40px;
  margin-top: 20px;
  
}
.header{
  height: 80px;
  width: calc(100vw - 400px);
  background: linear-gradient(to right, #4AD391 25%, #49C7D5);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 50px;
  align-items: center;
  color: white;
}

.header__button{
  background: transparent;
  border: 1px solid white;
  border-radius: 4px;
  height: 30px;
  padding: 0 26px;
  color: white;
}

.header__counter{
  width: 44px;
  padding: 0 6px;
  color: #49C7D5;
  background-color: white;
  border-radius: 40px;
  margin-left: 10px;
}

.cart{
  display: flex;
  flex-wrap: wrap;
}

.cart__header{
  margin-left: 20px;
}

.cart__item{
  margin: 20px 0 0 20px;
  background: #C7C7C7;
  margin: 20px 0 0 20px;
  background: #C7C7C7;
  width: 120px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  color: white;
}

a{
  color: white;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #324259;
}

.home img{
  margin-top: 50px;
  width: 300px;
}

.home__text{
  font-weight: 100;
  font-size: 30px;
  margin-top: 40px;
}
.header div{
  font-weight: 100;
  font-size: 20px;
}